<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
  <title>Retraso de vuelos</title>
  {% block head %}
  <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <!--theme-style-->  
  <!--//theme-style-->
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src='/app.min.js'></script>
  {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
